@font-face {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
     text-align: center;
}


li {
margin: 0 auto;
display: inline-block;
width: 100px;
height: 40px;
margin-top: 10px;
padding-top: 15px;
padding-bottom: 150px;
}
a {
    color: black;
}

#section {
    width:350px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    margin-top: 20px; }

img {
    display: block;
    margin: 0 auto;
}
#line-separator{
    height:3px;
    border-bottom:1px solid #C8C8C8;
}
.box{
    display: inline-block;
    width: 260px;
    height: 260px;
    margin: 50px 0 0 0;
    padding: 20px;
    border: 1px solid #C8C8C8;
}


#content img {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-bottom: 20px;
}
#face img {
    position: absolute;
    top: 20px;
    right: 250px;
    margin-bottom: 20px;
}
#insta img {
    position: absolute;
    top: 30px;
    right: 220px;
    margin-bottom: 20px;
}

#four {
    margin-top: 10px;
    margin-bottom: 20px;
}


}
ul {
    list-style-type: none;
    margin: auto;
    width: 400px;
    padding: 0;
    background-color: black;
}

li {
    margin-right: auto;
    margin-left: auto;
}

li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
#teli {
    position: absolute;
    margin-top: 20px;
    right: 20px;
    margin-bottom: 20px
    color: black;
}
#roe {
    margin-top: 30px;
}

.center-block{
    margin: 0 auto;
}

.test {
    width:  500px;
    margin: 0 auto;
    font-size: 14px;
}
.by{
    margin-top: 20px;
}
}
.heart {
    display: block;
    text-align: left;
    margin-bottom: 0px
}
.heart img{
    display: inline;
    padding: 20px;
}
